<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Single SMS</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
		<script type="text/javascript" th:src="@{/pages/single-sms/js/single-sms.js}"></script>
	</head>

	<body>

		<div id="wrapper">

			<!-- Navigation -->
			<div class="menuv1" th:include="commons :: main-menu"></div>
	
			<div id="page-wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Single SMS</h1>
					</div>
					<!-- /.col-lg-12 -->
				</div>
	
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-12">
									Send Single SMS <button class="btn btn-xs btn-success pull-right form-submit">Send</button>
									</div>
								</div>
							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
								<form id="mainform" th:with="df=${'yyyy-MM-dd'}">
									<div class="form-group">
										<label for="mobile">Mobile:</label> 
										<input type="text" class="form-control" id="mobile" name="mobile" required="required">
										<span>Mobile number must be 11 digit</span>
									</div>
									<div class="form-group">
										<label for="mobile">Content:</label> 
										<textarea rows="8" cols="" class="form-control" id="content" name="content" required="required"></textarea>
										<span>You can write 480 character. (1 sms = 160 character)</span>
										<span class="pull-right">480 character remaining</span>
									</div>
									<div class="checkbox">
										<label><input type="checkbox" id="language" name="language"> Unicode?</label>
									</div>
									<button type="submit" class="btn btn-success btn-sm form-submit">Send</button>
								</form>
							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>

			</div>
			<!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->


		<!-- Loading Mask -->
		<span th:remove="tag" th:include="commons :: loading-mask"></span>
	</body>

</html>
